<div class="gallery-view">
    <span class="pointer right" ng-click="toggler()">X</span>
    <h2>{{ gallery.title }}</h2>
    <div id="gallery-image-placeholder">
        <div id="gallery-image-wrapper" class="pointer" ng-click="zoomImage()" ng-class="{zoomed: zoomed}" >
            <img id="gallery-image" src="aws?path={{ gallery.filename }}" alt="gallery.title" ng-class="rotation"/>
        </div>
    </div>


    <button ng-click="rotateImage()">Rotate</button>

    <p>{{ gallery.description }}</p>
    <hr>
    <table id="gallery-comments-table" class="small-12">
        <thead class="uppercase">
        <th>User</th> <th>Comment</th> <th>Date</th> <th>Marked</th> <th>Delete</th>
        </thead>
        <tbody>
        <tr ng-repeat="comment in gallery.comments">
            <td>{{ comment.user.username }}</td>
            <td>
                <markdown ng-model="comment.comment" line-breaks="true" strip="true"></markdown>
            </td>
            <td>{{ comment.created | date: 'MM/dd/yyyy' }}</td>
            <td><input
                    type="checkbox"
                    ng-model="comment.marked"
                    ng-checked="{{ comment.marked }}"
                    ng-change="updateComment(comment)"
                    /></td>
            <td><span class="pointer" ng-click="deleteComment(gallery.id, comment)">DELETE</span></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5">

                <form>
                    <legend>New Comment</legend>
                    <fieldset>
                        <textarea class="full-width" cols="30" ng-model="newComment" ng-trim="false"></textarea>
                        <br>
                        <button ng-click="addComment(gallery, newComment)" ng-disabled="commentDisabled">Add</button>
                    </fieldset>
                </form>

                <h2>Preview</h2>
                <hr>
                <markdown ng-model="newComment"></markdown>
            </td>
        </tr>
        </tfoot>
    </table>
</div>