<div class="header">
    <h1>Announcements</h1>
</div>

<div class="content">
    <form name="annoucementsForm">
        <fieldset>
            <div class="row">
                <div class="small-12">
                    <label for="new-announcement">New Announcement</label>
                    <textarea class="small-12" name="newAnnouncement" id="new-announcement" ng-model="newAnnouncement"></textarea>
                </div>

                <div class="small-12">
                    <markdown ng-model="newAnnouncement" line-breaks="true" strip="true"></markdown>
                </div>

                <div class="small-12">
                    <br>

                    <button ng-click="addAnnouncement(newAnnouncement)">Add Announcement</button>
                </div>

            </div>
        </fieldset>
    </form>

    <table id="announcements-table" class="small-12">
        <thead class="uppercase">
            <tr>
                <th>row</th>
                <th>date</th>
                <th>text</th>
                <th>Active</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="animate-repeat row-{{ $index }}" ng-repeat="(id, announcement) in announcements">
                <td>{{ $index + 1 }}</td>
                <td>{{ announcement.date | date }}</td>
                <td>
                    <markdown ng-model="announcement.text" line-breaks="true" strip="true"></markdown>
                </td>
                <td>
                    <input type="checkbox" ng-model="announcement.active" ng-change="updateAnnouncement(id, announcement)"/>
                </td>
                <td>
                    <button ng-click="deleteAnnouncement(id)" class="tiny">Delete</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <!--<button class="pure-button full-width" ng-click="getMoreComments()" ng-disabled="searchDisabled">Load More</button>-->
                </td>
            </tr>
        </tfoot>
    </table>

</div>
