<div class="header">
    <h1>Comments</h1>
</div>

<div class="content full-width pure-g-r">
    <form>
        <legend>Search Comments</legend>
        <fieldset>
            <div class="row">
                <div class="small-12 medium-6 column">
                    <label for="comment-filter">Filter By:</label>
                    <select name="comment-filter" id="comment-filter" ng-model="comments.options.filter.column" ng-options="k as v for (k, v) in search.filters"></select>
                    <input type="search" ng-model="comments.options.filter.text" placeholder="Filter text"/>
                </div>

                <div class="small-12 medium-6 column">
                    <label for="comment-sort">Order by:</label>
                    <select name="comment-sort" id="comment-sort" ng-model="comments.options.sort" ng-options="k as v for (k, v) in search.sorts"></select>
                    <select name="comment-sort-direction" id="comment-sort-direction" ng-model="comments.options.direction" ng-options="k as v for (k, v) in search.directions"></select>
                </div>

                <div class="small-12 medium-6 column">
                    <label for="options-limit">Limit results:</label>
                    <input id="options-limit" type="number" ng-model="comments.options.limit"/>
                </div>

                <div class="small-12 medium-6 column">
                    <label>&nbsp;</label>
                    <button ng-click="searchComments(false)" ng-disabled="searchDisabled">Search</button>
                </div>
            </div>

        </fieldset>
        <hr>
    </form>

    <div class="large-4 medium-12 right" qv-gallery-viewer="gallery" ng-show="showDrawer" close="toggleGallery"></div>

    <div class="left" style="margin-right: auto;" ng-class="{'large-8 medium-12': showDrawer, 'small-12': hideDrawer}">
        <table id="comments-table" class="small-12">
            <thead class="uppercase">
            <tr>
                <th>row</th> <th>id</th> <th>user</th> <th>text</th> <th>updated</th> <th>done</th>
            </tr>
            </thead>
            <tbody>
            <tr class="animate-repeat" ng-repeat="comment in comments.data">
                <td class="pointer" ng-click="showGallery(comment.gallery.id)">{{ $index + 1 }}</td>
                <td class="pointer" ng-click="showGallery(comment.gallery.id)">{{ comment.id }}</td>
                <td class="pointer" ng-click="setUserFilter(comment.gallery.user)" title="Filter by: {{ comment.user.username }}">{{ comment.user.username }}</td>
                <td class="pointer" ng-click="showGallery(comment.gallery.id)">{{ comment.comment }}</td>
                <td class="pointer" ng-click="showGallery(comment.gallery.id)">{{ comment.updated | date:'MM/dd/yyyy' }}</td>
                <td><input
                        type="checkbox"
                        ng-model="comment.marked"
                        ng-checked="{{ comment.marked }}"
                        ng-change="updateComment(comment)"
                        /></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6">
                    <button class="pure-button full-width" ng-click="getMoreComments()" ng-disabled="searchDisabled">Load More</button>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

</div>