<div class="header">
    <h1>Galleries</h1>
</div>

<div class="content">
    <form class="">
        <legend>Search Galleries</legend>
        <fieldset>
            <div class="row">
                <div class="small-12 medium-6 column">
                    <label for="gallery-filter">Filter By:</label>
                    <select name="gallery-filter" id="gallery-filter" ng-model="galleries.options.filter.column" ng-options="k as v for (k, v) in search.filters"></select>
                    <input type="search" ng-model="galleries.options.filter.text" placeholder="Filter text"/>
                </div>




                <div class="small-12 medium-6 column">
                    <label for="gallery-sort">Order by:</label>
                    <select name="gallery-sort" id="gallery-sort" ng-model="galleries.options.sort" ng-options="k as v for (k, v) in search.sorts"></select>
                    <select name="gallery-sort-direction" id="gallery-sort-direction" ng-model="galleries.options.direction" ng-options="k as v for (k, v) in search.directions"></select>
                </div>



                <div class="small-12 medium-6 column">
                    <label for="options-limit">Limit results:</label>
                    <input id="options-limit" type="number" ng-model="galleries.options.limit"/>
                </div>

                <div class="small-12 medium-6 column">
                    <label>&nbsp;</label>
                    <button class="" ng-click="searchGalleries(false)" ng-disabled="searchDisabled">Search</button>
                </div>
            </div>

        </fieldset>
        <hr>
    </form>

    <div class="left" style="margin-right: auto;" ng-class="{'large-4': showDrawer, 'small-12': hideDrawer}">
        <table id="galleries-table" class="small-12">
            <thead class="uppercase">
                <tr>
                    <th>row</th> <th>id</th> <th>user</th> <th>title</th> <th>updated</th> <th>done</th>
                </tr>
            </thead>
            <tbody>
                <tr class="animate-repeat" ng-repeat="gallery in galleries.data">
                    <td class="pointer" ng-click="showGallery(gallery)">{{ $index + 1 }}</td>
                    <td class="pointer" ng-click="showGallery(gallery)">{{ gallery.id }}</td>
                    <td class="pointer" ng-click="setUserFilter(gallery.user)" title="Filter by: {{ gallery.user.username }}">{{ gallery.user.username }}</td>
                    <td class="pointer" ng-click="showGallery(gallery)">{{ gallery.title }}</td>
                    <td class="pointer" ng-click="showGallery(gallery)">{{ gallery.updated | date:'MM/dd/yyyy' }}</td>
                    <td><input
                            type="checkbox"
                            ng-model="gallery.marked"
                            ng-checked="{{ gallery.marked }}"
                            ng-change="updateGallery(gallery)"
                            /></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <button ng-click="getMoreGalleries()" ng-disabled="searchDisabled">Load More</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="small-8 right" qv-gallery-viewer="gallery" ng-show="showDrawer" close="closeGallery"></div>

</div>
