<div id="main">


    <div class="column small-12 header">
        <h1>ISLC Smart Client: Tread Carefully</h1>
    </div>

    <div class="column small-12 content">
        <p>
            Welcome to the ISLC Smart Client! This little puppy will help you administer the ISLC web application.
            Be careful, because you're editing live data here.
        </p>

        <br>

        <p>
            How about a tour?
        </p>

        <br>

        <p>
            Sincerely,
            <br>
            Chris Esplin
            <br>
            <br>
            P.S.<a href="mailto:chris@quiver.is">Email me</a> with any questions.
        </p>

        <br>


        <hr>
        <h3>Markdown</h3>
        <p>
            <a href="http://dillinger.io/">Markdown</a> is a great way to format text for web without having to type
            out pesky HTML. Us developers use it <strong>constantly</strong>, and you'll grow to like it too. I promise.
        </p>

        <p>
            Markdown is the best!
        </p>

        <hr>
        <h3>Galleries</h3>
        <p>
            Galleries: A list of all of the galleries along with their nested comments.
            This page is the most useful for leaving comments, because they're grouped by gallery upload.
        </p>


        <hr>
        <h3>Comments</h3>
        <p>
            Similar to the <strong>Galleries</strong> view, but the comments are not grouped. This will surface comments
            that have been left on old galleries that would not rise to the top of the <strong>Galleries</strong> view.
        </p>

        <hr>
        <h3>Images</h3>
        <p>
            Upload public images. This is great for adding images to student comments. Hide little-used images to
            get rid of distractions while maintaining the images in the system so that students can view them.
        </p>

        <hr>
        <h3>Announcements</h3>
        <p>
            Post announcments for logged-in users in this view. You can deactivate announcements rather than delete
            them, because you may want to repeat announcements in the future.
        </p>

        <hr>
        <h3>Discounts</h3>
        <p>
            Edit discount codes, but do it carefully. Users rely on these codes for checkout.
        </p>

        <hr>
        <h3>Transactions</h3>
        <p>
            Fulfill orders and watch transaction flow.
        </p>

        <hr>
        <h3>Files</h3>
        <p>
            Manage permissions for private server files. These guys are inaccessible to users who are not logged in.
        </p>

    </div>


</div>