<div class="header">
    <h1>Transactions</h1>
</div>

<div class="content full-width pure-g-r">
    <form class="pure-form pure-u-1">
        <legend>Search Transactions</legend>
        <fieldset>
            <label for="transaction-filter">Filter By:</label>
            <select name="transaction-filter" id="transaction-filter" ng-model="transactions.options.filter.column" ng-options="k as v for (k, v) in search.filters"></select>
            <input type="search" ng-model="transactions.options.filter.text" placeholder="Filter text"/>

            <label for="transaction-sort">Order by:</label>
            <select name="transaction-sort" id="transaction-sort" ng-model="transactions.options.sort" ng-options="k as v for (k, v) in search.sorts"></select>
            <select name="transaction-sort-direction" id="transaction-sort-direction" ng-model="transactions.options.direction" ng-options="k as v for (k, v) in search.directions"></select>

            <label for="options-limit">Limit results:</label>
            <input id="options-limit" type="integer" ng-model="transactions.options.limit"/>

            <button class="pure-button pure-button-primary" ng-click="searchTransactions(false)" ng-disabled="searchDisabled">Search</button>
        </fieldset>
        <hr>
    </form>


    <div class="pure-u-1" style="margin-right: auto;">
        <table id="discounts-table" class="pure-table pure-table-striped full-width">
            <thead class="uppercase">
                <tr>
                    <th>row</th>
                    <th>id</th>
                    <th>username</th>
                    <th>email</th>
                    <th>address</th>
                    <th>instructions</th>
                    <th>discount</th>
                    <th>products</th>
                    <th>amount</th>
                    <th>created</th>
                    <th>processed</th>
                </tr>
            </thead>
            <tbody>
                <tr class="animate-repeat row-{{ $index }}" ng-repeat="transaction in transactions.data.items">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ transaction.id }}</td>
                    <td class="cursor-hand" ng-click="setUserFilter(transaction.user)" title="Filter by: {{ transaction.user.username }}">{{ transaction.user.username }}</td>
                    <td><a href="mailto:{{ transaction.user.email }}">{{ transaction.user.email }}</a></td>
                    <td>
                        <span>{{ transaction.user.address.first }} {{ transaction.user.address.last }}</span>
                        <span>{{ transaction.user.address.line1 }}</span>
                        <span>{{ transaction.user.address.line2 }}</span>
                        <span>{{ transaction.user.address.line3 }}</span>
                        <span ng-show="transaction.user.address">{{ transaction.user.address.city }}<span ng-show="transaction.user.address.city && (transaction.user.address.state || transaction.user.address.code)">,</span> {{ transaction.user.address.state }} {{ transaction.user.address.code }}</span>
                        <span>{{ transaction.user.address.country }}</span>
                    </td>
                    <td>{{ transaction.user.address.instructions }}</td>
                    <td><span ng-show="transaction.discount_applied">-${{ transaction.discount_applied }}</span></td>
                    <td>
                        <span ng-repeat="product in transaction.products">{{ product.title }}</span>
                    </td>
                    <td>${{ transaction.amount }}</td>
                    <td>{{ transaction.created | date }}</td>
                    <td>
                        <input type="checkbox" ng-model="transaction.processed" ng-change="updateTransaction(transaction)"/>
                    </td>

                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="100%">
                        <button class="pure-button full-width" ng-click="getMoreTransactions()" ng-disabled="searchDisabled">Load More</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>
